:root {
	--container-width: 1230px;
	--container-padding-x: 15px;

	--main-font: 'OpenSans-Light', sans-serif;
	--main-font-color: #151618;

	// --main-color: #fff;
	// --secondary-font-color: #000;

	// --accent-color: #F7F2EA;
	// --action-color: #007bff;

	--main-bg-color: #F7F2EA;
	// --secondary-bg-color: #fff;
}
